/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 53.7vh;
    background-image: url('/static/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    
}

h1 {
    color: #380d0d;
}


.menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    background-color: #2f8ee7;
    padding: 10px 15px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #2f8ee7;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #fff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    top: 50%; /* Center vertically */
    transform: translateY(15%); 
    background-color: #fff;
    border: 1px solid #2dd9e9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1); /* Added shadow */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #2dd9e9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2f8ee7;
}
